/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    font-size: 12px;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/

body {
    padding: 25px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background: url(../img/bg_repeat.jpg);
}

.content {
    display: flex;
}

.navigation {
    display: flex;
    flex-direction: column;
}

.navigation_title {
    display: block;
    margin: 0px auto;
    font-size: 24px;
}

.navigation_link {
    display: block;
    margin: 0px auto;
    height: 42px;
    line-height: 42px;
    width: 160px;
    color: black;
    background-color: #f4f4f4;
    border-radius: 13px;
    padding-left: 13px;
    margin-top: 10px;

}

.navigation_linkf {
    display: block;
    margin: 0px auto;
    height: 42px;
    line-height: 42px;
    width: 160px;
    color: black;
    background-color: #f4f4f4;
    border-radius: 13px;
    padding-left: 13px;
    margin-top: 30px;
}

.navigation_link:hover {
    background-color: #fff;
}

.navigation_linkf:hover {
    background-color: #fff;
}

.content_right {
    max-width: 800px;
    padding: 14px;
    margin: 14px;
    border-radius: 8px;
    box-shadow: 1px 1px 15px  #00000036;
    background-color: rgba(252, 252, 252,71%);
}

p {
    margin-top: 10px;
}

li {

}

strong {
    font-size: 16px;
}

h1.menu {
    text-align: left;
}

table {
    border-collapse: collapse;
    text-align: center;
    margin-left: 10px;
}

th, td:first-child {
    background: #AFCDE7;
    color: white;
    padding: 10px 20px;
}

th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
    padding: 6px;
}

td {
    background: #D8E6F3;
}

th:first-child, td:first-child {
    text-align: left;
}

h1 {
    font-size: 17px;
    margin: 10px;
    text-align: center;
}

.rounded {
    counter-reset: li;
    list-style: none;
    font-size: 10px;
    padding: 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.rounded a {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background: #DAD2CA;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: .3s ease-out;
}

.rounded a:hover {
    background: #E9E4E0;
}

.rounded a:hover:before {
    transform: rotate(360deg);
}

.rounded a:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #8FD4C1;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid white;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}

i {
    font-size: 20px;
}

img {
    max-width: 200px;
    border-radius: 8px;
    display: block;
    margin: auto;
    box-shadow: 1px 1px 15px #00000036;
}

body {
    background: url("img/back.jpg ");
    margin: 0;
}

ol {
    margin-left: 15px;
}

b.sugar {
/ /*font-size: 30px;*/
/
}

div.scrollmenu {
    background-color: #111111;
    overflow: auto;
    white-space: nowrap;

}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;

}

strong.type {
    font-size: 17px;
}